/* Estilo para lidar com o autofill */
input:-webkit-autofill {
    background-color: white /*#4169e1 !important*/; 
    -webkit-text-fill-color: black !important; /* Define a cor do texto no autofill */
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    border-radius: 5px;
  }

button {
  color: #ffffff;
}

body {
  color: black;
}
